<app-title>
  <header><span>我是编辑页面</span></header>
</app-title>

<app-ng-select [optionInfo]="optionInfo" (select)="selectCallBack($event)" [defaultValue]="defaultValue"></app-ng-select>

<input type="text" #input>

<button class="btn" [@buttonStatus]="status" (click)="toggleStatus()">动画</button>

<div class="test" [class.isBlue] = "status=='off'" [class.hidden] ="true"></div>

<div [ngSwitch] = "contactName" myBeautifulBackground [backgroundColor]="color">
  <span *ngSwitchCase="'TimCook'">蒂姆。库克</span>
  <span *ngSwitchCase="'BillGates'">比尔盖茨</span>
  <span *ngSwitchDefault>无名氏</span>
</div>

<ul>
  <li><input type="text" name="colors" [(ngModel)]="color" placeholder="设置元素背景色的指令"></li>
</ul>


<list-item [ListData] = "ListData"></list-item>
